.AULAProject .shift-down {
    transform: translate(0, 35px);
}

.AULAProject .shift-up {
    transform: translate(0, -35px);
}

@media (max-width: 768px) {
    /* For mobile phones: */

    .AULAProject .Banner {
        height: 40vh;
        gap: 2em;
    }

    .AULAProject .shift-down {
        transform: translate(0, 60px);
    }

    .AULAProject .shift-up {
        transform: translate(0, -60px);
    }
}