.BeelineProject .Banner {
    background-color: #FDF7BB;
}


.ProjectPage .Header .Title {
    font-size: 3em;
}

@media (max-width: 768px) {
    /* For mobile phones: */

    .ProjectPage .Header .Title {
        font-size: 6.5vw;
    }

}