.v2-page-grid.loyalty-program {
    display: grid;
    grid-template-columns: 20% 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "intro intro intro intro"
        "info desc desc desc"
        "info win1 win2 win3"
        "pres pres pres pres"
        "footer footer footer footer";

    .intro {
        grid-area: intro;

        display: grid;
        grid-template-columns: var(--space-m) 1fr var(--space-xl) auto var(--space-m);
        grid-template-rows: var(--space-m) auto var(--space-2xl) auto var(--space-l) auto var(--space-m);
        grid-template-areas:
            ". . . . ."
            ". navbar navbar navbar ."
            ". . . . ."
            ". maintext . info ."
            ". . . . ."
            ". cover cover cover ."
            ". . . . .";

        .main-text {
            grid-area: maintext;

            display: flex;
            flex-direction: column;
            gap: var(--space-xs);

            .title {
                font-size: var(--step-5);
                font-family: 'Satoshi-Bold';
                width: min(100%, 45em);
            }

            .description {
                font-family: 'Satoshi-Regular';
                width: min(100%, 33em);
            }
        }

        .info {

            grid-area: info;

            width: fit-content;
            justify-self: right;

            display: flex;
            flex-direction: column;
            gap: var(--space-m);

            .item {
                font-family: 'Satoshi-Regular';

                .key {
                    font-weight: bold;
                }
            }
        }

        .cover {
            grid-area: cover;

            width: 100%;
        }
    }

    .info {
        grid-area: info;

        display: grid;
        grid-template-columns: var(--space-m) 1fr var(--space-m);
        grid-template-rows: var(--space-m) auto var(--space-xl) auto;
        grid-template-areas:
            ". . ."
            ". content ."
            ". . ."
            ". decor .";

        .content {
            grid-area: content;

            display: flex;
            flex-direction: column;
            gap: var(--space-l);

            .section {
                display: flex;
                flex-direction: column;
                gap: var(--space-2xs);

                .items {
                    display: flex;
                    flex-direction: column;
                    gap: var(--space-m);

                    .item {
                        font-family: 'Satoshi-Regular';
                    }
                }
            }
        }

        .decor {
            grid-area: decor;

            display: flex;
            align-items: flex-end;

            img {
                width: 100%;
            }
        }
    }

    .desc {
        grid-area: desc;

        display: flex;
        flex-direction: column;
        padding: var(--space-xl);
    }

    .win1 {
        grid-area: win1;
    }

    .win2 {
        grid-area: win2;
    }

    .win3 {
        grid-area: win3;
    }

    .win {
        background-color: var(--color-contast);
        color: var(--color-primary);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--space-s);

        padding: var(--space-m);

        font-size: var(--step-2);
        text-align: center;

        img {
            width: calc(var(--space-3xl) * 0.8);
        }
    }

    .pres {
        grid-area: pres;

        display: grid;
        grid-template-columns: var(--space-m) 1fr var(--space-m);
        grid-template-rows: var(--space-m) auto var(--space-m) auto var(--space-m);

        .text {
            grid-column: 2 / 3;
            grid-row: 2 / 3;

            display: flex;
            flex-direction: column;
            width: min(100%, 45em);
        }

        .presentation {
            grid-column: 2 / 3;
            grid-row: 4 / 5;

            border-radius: var(--step-0);

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;

            /* To stop the blur from bleeding out of the edges */
            overflow: hidden;

            .container {
                grid-column: 1 / 2;
                grid-row: 1 / 2;

                display: flex;
                justify-content: center;
                align-items: center;

                z-index: 1;

                opacity: 0;
                transition: opacity 0.15s linear;

                .hover-content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: var(--space-2xs);

                    font-size: var(--step-1);

                    padding-block: var(--space-xs);
                    padding-left: var(--space-s);
                    padding-right: var(--space-m);
                    border-radius: var(--space-2xl);
                    background-color: rgba(var(--color-primary-rgb), 0.6);

                    border: 1px solid rgba(var(--color-primary-rgb), 0.4);
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

                    img {
                        width: var(--step-3);
                    }
                }
            }

            .cover-img {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                width: 100%;

                filter: blur(0) brightness(1);
                transition: filter 0.15s linear;
            }
        }

        .presentation:hover {
            .container {
                opacity: 1;
            }

            .cover-img {
                filter: blur(calc(var(--step--2) * 0.8)) brightness(0.8);
            }
        }

    }
}

.v2-page-grid.loyalty-program {
    h1 {
        font-size: var(--step-3);
        font-family: 'Satoshi-Medium';
        font-weight: normal;

        margin-top: var(--space-m);
        margin-bottom: 0px;

        display: flex;
        align-items: center;
    }

    h1:first-child {
        margin-top: 0px;
    }

    h1::before {
        /* This is required for the pseudo-element to be generated */
        content: '';
        /* Allows us to set width and height */
        display: inline-block;

        /* --- Decor Styling --- */
        width: var(--step-1);
        height: var(--step-1);
        margin-right: var(--space-xs);

        /* --- Media File --- */
        background-image: url('./media/project1-desc-heading-decor.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    p {
        font-size: var(--step-1);
        font-family: 'Satoshi-Regular';
        font-weight: normal;

        margin-top: var(--space-2xs);
        margin-bottom: 0px;
    }

    ul {
        font-size: var(--step-1);
        font-family: 'Satoshi-Regular';
        font-weight: normal;

        margin-top: 0px;

        li {
            padding-inline-start: var(--space-3xs);
        }
    }
}