.NavBar {
    font-family: 'Epilogue', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.NavBar-links {
    display: flex;
    justify-content: right;
    gap: 3em;
}

.NavBar-link {
    display: flex;
    justify-content: center;
    font-size: 1.1em;
}

.NavBar-logo {
    width: 3em;
}

.NavBar .active {
    font-weight: 600;
    text-decoration: underline;
}