.NavBar {
    font-family: 'Epilogue', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.NavBar-links {
    display: flex;
    justify-content: right;
}

.NavBar-link {
    display: flex;
    justify-content: center;

    padding-left: 2em;
    padding-right: 2em;

    font-size: 1.1em;
}

.NavBar-logo-container {
    padding-left: 2em;
    padding-right: 2em;
}

.NavBar-logo {
    width: 3em;
}