.Intro-container {
    display: grid;
    grid-template-columns: [left] 1fr [right];
    grid-template-rows: [top] 1fr [bottom];
}

.Intro-back-container {
    grid-column: left / right;
    grid-row: top / bottom;

    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
}

.Hand-Left {
    width: 770px;
    min-width: 770px;
    transform: translate(100px, 0px);
}

.Hand-Right {
    width: 800px;
    min-width: 800px;
    transform: translate(-100px, -10px);
}

.Intro-front-container {
    grid-column: left / right;
    grid-row: top / bottom;

    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: center;

    gap: 2em;

    font-family: 'Epilogue', sans-serif;
    color: #2D2D2D;

    padding-top: 7em;
    padding-bottom: 7em;
    padding-left: 3em;
    padding-right: 3em;
}

.Hello {
    font-weight: 600;
    font-size: 1.5em;

    width: 75%;
}

.UX-Designer {
    font-weight: 700;
    font-size: 3.5vw;
    line-height: 1.5em;

    width: 75%;
}

.Why {
    font-weight: 500;
    font-size: 1em;

    width: 75%;

    line-height: 1.5em;
}

.Blue {
    color: #0A34A4;
}

@media (max-width: 768px) {
    /* For mobile phones: */

    .Hand-Left {
        width: 900px;
        min-width: 900px;
        transform: translate(150px, 0px);
    }

    .Hand-Right {
        width: 850px;
        min-width: 850px;
        transform: translate(-150px, -10px);
    }

    .Hello {
        width: 90%;
    }

    .UX-Designer {
        width: 90%;
        font-size: 1.9em;
    }

    .Why {
        width: 90%;
    }
}