.lazy-image.original {
    transition: filter 300ms ease-out;
}

.lazy-image.original.loading {
    opacity: 0;
    position: absolute;
    filter: blur(20px);
}

.lazy-image.placeholder {
    filter: blur(20px);
    animation-name: placeholder-appear;
    animation-duration: 300ms;
}

.lazy-image.placeholder.loading {
    opacity: 0;
    animation-name: none;
}

@keyframes placeholder-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}