.lazy-image.original {
    animation-name: blurry-appear;
    animation-duration: 700ms;

    z-index: 1;
}

.lazy-image.original.loading {
    opacity: 0;
    position: absolute;
    filter: blur(20px);
}

.lazy-image.placeholder {
    filter: blur(20px);
    transition: opacity 400ms ease-out;

    z-index: 0;
}

.lazy-image.placeholder.loading {
    opacity: 0;
}

.lazy-image.placeholder.hide {
    opacity: 0;
    position: absolute;
    animation-name: hide-delay;
    animation-duration: 500ms;
}

@keyframes blurry-appear {
    0% {
        opacity: 0;
        filter: blur(20px);
    }

    40% {
        opacity: 1;
        filter: blur(20px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes hide-delay {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}